<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>

</head>

<body>
    <br><br><br><br>
   <div class="container">
    <div class="box">
        
        <h3 align="center">Google Scholar</h3>
        <form action="/google">
            <button class="btn">Go</button>
        </form>
    </div>
    <div class="box">
        <h3 align="center">Scopus</h3>
        <form action="/scopus">
            <button class="btn">Go</button>
        </form>
            
    </div>
   </div>
</body>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>

</head>

<body>
    <br><br><br><br>
   <div class="container">
    <div class="box">
        
        <h3 align="center">Google Scholar</h3>
        <form action="/google">
            <button class="btn">Go</button>
        </form>
    </div>
    <div class="box">
        <h3 align="center">Scopus</h3>
        <form action="/scopus">
            <button class="btn">Go</button>
        </form>
            
    </div>
   </div>
</body>

</html>