<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>

</head>

<body>
    <br><br><br><br>
    <h3 align="center">Search</h3>
    <form class="form" action="/search" method="post">
        <h4>Choose input</h4>
        <input type="radio" id="html" name="checkbox" value="AuthorAll">
        <label for="html">AuthorAll</label><br>
        <input type="radio" id="html" name="checkbox" value="Author">
        <label for="html">Author</label><br>
        <input type="radio" id="css" name="checkbox" value="Hindex">
        <label for="css">Hindex</label><br>
        <input type="radio" id="javascript" name="checkbox" value="I10index">
        <label for="javascript">I-10 Index</label>
        <br><br>
        <label for="Input">Input</label>
        <input type="text" id="input" name="input"><br>
        <button class="btn" >Search</button>
    </form>
</body>

</html>