<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>

</head>

<body>
    <br><br><br><br>
    <h3 align="center">Search by</h3>
    <form class="form" acion="/search" method="post">
            <label for="">H-index</label>
            <input type="text" id="name" name="hindex">
            <br><br>
            <label for="">i10-index</label>
            <input type="text" id="name" name="i10index">
            <br><br>
            <label for="">Author Name</label>
            <input type="text" id="name" name="author">
        <button class="btn" >Search</button>
    </form>
</body>

</html>